body {
  background: url('../images/hack.jpg') no-repeat;
  background-size: cover;
}
.centerLogo {
  font-style: italic;
  font-weight: normal;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
}
.centerLogo a {
  background: #313131;
  border: 1px solid #FF4E00;
  padding: 25px 55px;
  border-radius: 15px;
  color: #FF4E00;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  font-family: "Audiowide";
  font-size: 50px;
}
.centerLogo a:visited {
  color: #FF4E00;
}
.centerLogo a:hover {
  color: white;
  background: gray;
}
.centerLogo span {
  position: absolute;
  bottom: -20px;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  text-align: center;
  left: 0;
}
