@import url(https://fonts.googleapis.com/css?family=Audiowide);
html,
body {
  margin: 0 auto;
  padding: 0;
  direction: rtl;
}
a {
  display: inline-block;
  text-decoration: none;
}
span {
  display: inline-block;
}
button,
input[type=submit],
input[type=button],
select {
  cursor: pointer;
  outline-style: none;
}
input[type=text],
a,
textarea {
  outline-style: none;
}
textarea {
  resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
* {
  font-family: carmela, sans-serif;
}
@font-face {
  font-family: "carmela";
  src: url("../fonts/carmela.ttf");
}
@font-face {
  font-family: "fa";
  src: url("../fonts/fontawesome-webfont.ttf");
}
@font-face {
  font-family: "yehuda";
  src: url("../fonts/yehudaclm-light-webfont.ttf");
}
.topSection {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.logoArea {
  width: 50%;
  height: 100%;
  float: left;
  background: #fff;
  position: relative;
}
.logoArea h1,
.logoArea h1 a {
  font-style: italic;
  font-weight: normal;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #444;
  font-family: "Audiowide";
}
.logoArea h1:hover,
.logoArea h1 a:hover {
  font-size: 34px;
}
.freeSpace {
  width: 50%;
  height: 100%;
  float: left;
  background: #313131;
  position: relative;
}
.freeSpace h2 {
  width: 100%;
  height: 100%;
  line-height: 80px;
  color: #DDDDDD;
  text-indent: 30px;
  font-weight: normal;
}
.freeSpace span {
  position: absolute;
  color: #c7c7c7;
  font-size: 18px;
  right: 33px;
  bottom: 23px;
}
a.eventDetailsLink {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 25px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 100px;
  transition: 0.3s ease all;
  background: url('../images/eventDetails.png') no-repeat center center;
  background-size: 100% 100%;
}
a.eventDetailsLink:hover {
  letter-spacing: 5px;
}
a.registerLink {
  display: inline-block;
  width: 25%;
  height: 100%;
  float: left;
  font-size: 25px;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  line-height: 100px;
  transition: 0.3s ease all;
  background: url('../images/register.png') no-repeat center center;
  background-size: 100% 100%;
}
a.registerLink:hover {
  letter-spacing: 5px;
}
.timeTable {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.timeTable tr.topTr {
  height: 30px;
  background: #000;
}
.timeTable tr.topTr td {
  color: #fff;
  text-align: center;
  line-height: 30px;
}
.timeTable tr.timeTr {
  background: #FF4E00;
}
.timeTable tr.timeTr td {
  color: #fff;
  font-size: 45px;
  text-align: center;
  width: 13%;
  font-weight: bold;
}
