<h2>מה זה האירוע הזה?</h2>

<h3>דע יותר על האירוע</h3>

<div class="liner"><span></span></div>
<p>
    האקתון דימונה הראשון!
    התחרות תתקיים בתאריכים 12-13/11/15 כחלק משבוע היזמות העולמי
</p>

<p><a href="https://www.facebook.com/DimonaHack" target="_blank">
    <i class="fa fa-facebook"></i>
    בקרו אותנו בפייסבוק
</a></p>
<div class="fb-page" data-href="https://www.facebook.com/dimonahack" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/dimonahack"><a href="https://www.facebook.com/dimonahack">DimonaHack</a></blockquote></div></div>