{% extends "_layout.html" %}

{% block title %}פרטי האירוע{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/static/css/details.min.css"/>
    <script src="static/js/details.js"></script>
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="tabs">
            <div class="tabSpace"></div>
            <div class="tab tab1 activeTab" data-tab="tab1Div"><span class="tabIcon icon1"><br/></span></div>
            <div class="tab tab2" data-tab="tab2Div"><span class="tabIcon icon2"><br/></span></div>
            <div class="tab tab3" data-tab="tab3Div"><span class="tabIcon icon3"><br/></span></div>
            <div class="tab tab4" data-tab="tab4Div"><span class="tabIcon icon4"><br/></span></div>
            <div class="tab tab5" data-tab="tab5Div"><span class="tabIcon icon5"><br/></span></div>
        </div>
        <div class="allTabsDivs">
            <div class="tabDiv tab1Div">
                {% include 'about.html' %}
            </div>
            <div class="tabDiv tab2Div">
                {% include 'schedule.html' %}
            </div>
            <div class="tabDiv tab3Div">
                {% include 'staff.html' %}
            </div>
            <div class="tabDiv tab4Div">
                {% include 'prices.html' %}
            </div>
            <div class="tabDiv tab5Div">
                {% include 'rules.html' %}
            </div>
        </div>
        <div style="margin:0 auto; text-align: center; margin-top:35px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3417.5700222025303!2d35.04171373561695!3d31.06606747959202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150248abb3ae07cd%3A0x4ca2283de3753107!2z15DXqdeb15XXnCDXpNeZ16E!5e0!3m2!1sen!2sil!4v1444406267418" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}