{% extends "_layout.html" %}
{% block title %}פרטי האירוע{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
            background: #f9f9f9 !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".tab1").click(function () {
                $(".tab1Div").css("display", "block");
                $(".tab2Div").css("display", "none");
                $(".tab3Div").css("display", "none");
                $(".tab1").addClass("activeTab");
                $(".tab2").removeClass("activeTab");
                $(".tab3").removeClass("activeTab");
            });
            $(".tab2").click(function () {
                $(".tab2Div").css("display", "block");
                $(".tab1Div").css("display", "none");
                $(".tab3Div").css("display", "none");
                $(".tab2").addClass("activeTab");
                $(".tab1").removeClass("activeTab");
                $(".tab3").removeClass("activeTab");
            });
            $(".tab3").click(function () {
                $(".tab3Div").css("display", "block");
                $(".tab2Div").css("display", "none");
                $(".tab1Div").css("display", "none");
                $(".tab3").addClass("activeTab");
                $(".tab2").removeClass("activeTab");
                $(".tab1").removeClass("activeTab");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="tabs">
            <div class="tabSpace"></div>
            <div class="tab tab1 activeTab">
                <span class="tabIcon icon1"><Br></span>
            </div>
            <div class="tab tab2">
                <span class="tabIcon icon2"><Br></span>
            </div>
            <div class="tab tab3" style="border-left: 1px solid #aaa;">
                <span class="tabIcon icon3"><Br></span>
            </div>
        </div>
        <div class="allTabsDivs">
            <div class="tab1Div">
                <h2 class="tabTitle">מה זה האירוע הזה?</h2>

                <h3 class="tabSubTitle">דע יותר על האירוע</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
האקתון דימונה הראשון!
התחרות תתקיים בתאריכים 12-13/11/15 כחלק משבוע היזמות העולמי
            </div>
            <div class="tab2Div">
                <h2 class="tabTitle">מתי קורה מה?</h2>

                <h3 class="tabSubTitle">מתי האירוע, ארוחות, הרצעות והפתעות נוספות?</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי
                    במר מודוף. אודיפו בלאסטיק
                </p>

                <div class="schedule1Div">
                    <h2 class="scheduleTitle">לוח זמנים - 12.11.2015<Br><span class="lineTitleSpan"></span></h2>

                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime">09:00</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ההתכנסות</h3>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">התחלה</h3>
                            <span class="byLabel leftTime">יושבים על המחשב</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <span class="timeSpan rightTime">11:00</span>
                        </div>
                    </div>
                </div>

                <div class="schedule1Div">
                    <h2 class="scheduleTitle">לוח זמנים - 13.11.2015<Br><span class="lineTitleSpan"></span></h2>

                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime">13:00</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">הכרזת הזוכים</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab3Div">
                <h2 class="tabTitle">מי הולך לדבר ולהרצות?</h2>

                <h3 class="tabSubTitle">דולור סיט אמט, קונסקטורר אדיפיסינג אלית נו</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי
                    במר מודוף. אודיפו בלאסטיק
                </p>
            </div>
        </div>
    </div>
{% endblock %}