{% extends "_layout.html" %}
{% block title %}פרטי האירוע{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        body {
            background: #f9f9f9 !important;
        }
    </style>
    <script>
        $(document).ready(function () {
            $(".tab1").click(function () {
                $(".tab1Div").css("display", "block");
                $(".tab2Div").css("display", "none");
                $(".tab3Div").css("display", "none");
                $(".tab1").addClass("activeTab");
                $(".tab2").removeClass("activeTab");
                $(".tab3").removeClass("activeTab");
            });
            $(".tab2").click(function () {
                $(".tab2Div").css("display", "block");
                $(".tab1Div").css("display", "none");
                $(".tab3Div").css("display", "none");
                $(".tab2").addClass("activeTab");
                $(".tab1").removeClass("activeTab");
                $(".tab3").removeClass("activeTab");
            });
            $(".tab3").click(function () {
                $(".tab3Div").css("display", "block");
                $(".tab2Div").css("display", "none");
                $(".tab1Div").css("display", "none");
                $(".tab3").addClass("activeTab");
                $(".tab2").removeClass("activeTab");
                $(".tab1").removeClass("activeTab");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="grid">
        <div class="tabs">
            <div class="tabSpace"></div>
            <div class="tab tab1 activeTab">
                <span class="tabIcon icon1"><Br></span>
            </div>
            <div class="tab tab2">
                <span class="tabIcon icon2"><Br></span>
            </div>
            <div class="tab tab3" style="border-left: 1px solid #aaa;">
                <span class="tabIcon icon3"><Br></span>
            </div>
        </div>
        <div class="allTabsDivs">
            <div class="tab1Div">
                <h2 class="tabTitle">מה זה האירוע הזה?</h2>

                <h3 class="tabSubTitle">דע יותר על האירוע</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
האקתון דימונה הראשון!
התחרות תתקיים בתאריכים 12-13/11/15 כחלק משבוע היזמות העולמי
            </div>
            <div class="tab2Div">
                <h2 class="tabTitle">מתי קורה מה?</h2>

                <h3 class="tabSubTitle">מתי האירוע, ארוחות, הרצעות והפתעות נוספות?</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי
                    במר מודוף. אודיפו בלאסטיק
                </p>

                <div class="schedule1Div">
                    <h2 class="scheduleTitle">לוח זמנים - 12.11.2015<Br><span class="lineTitleSpan"></span></h2>

                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ההתכנסות</h3>
                            <span class="byLabel rightTime">09:00</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">ארוחת בוקר</h3>
                            <span class="byLabel leftTime">09:00-09:45</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ברוכים הבאים ומידע על היום</h3>
                            <span class="byLabel rightTime">09:45-10:00</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">מידע על ההאקטון, פרסים וקבוצות</h3>
                            <span class="byLabel leftTime">10:00-10:15</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ההאקטון מתחיל</h3>
                            <span class="byLabel rightTime">10:15-13:30</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">ארוחת צהריים</h3>
                            <span class="byLabel leftTime">13:30-14:30</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ההאקטון ממשיך</h3>
                            <span class="byLabel rightTime">14:00-18:30</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">ארוחה ומשקאות</h3>
                            <span class="byLabel leftTime">18:30-19:15</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ממשיכים לעבוד</h3>
                            <span class="byLabel rightTime">19:15-21:00</span>
                        </div>
                    </div>
                </div>

                <div class="schedule1Div">
                    <h2 class="scheduleTitle">לוח זמנים - 13.11.2015<Br><span class="lineTitleSpan"></span></h2>

                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ההתכנסות</h3>
                            <span class="byLabel rightTime">09:00</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">ארוחת בוקר</h3>
                            <span class="byLabel leftTime">09:00-09:45</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime"></span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">ספרינט אחרון - הקוד ממשיך</h3>
                            <span class="byLabel rightTime">09:45-12:00</span>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <h3 class="timeDetailsTitle leftTitle">מצגות והכרזת הזוכים</h3>
                            <span class="byLabel leftTime">12:00-13:45</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                            <div class="lineTimeLine"></div>
                        </div>
                    </div>
                    <div class="timeDiv">
                        <div class="leftTimelineDiv">
                            <span class="timeSpan leftTime">13:45 - 14:00</span>
                        </div>
                        <div class="timeLineDiv">
                            <div class="circleTimeLineDiv"></div>
                        </div>
                        <div class="rightTimeLineDiv">
                            <h3 class="timeDetailsTitle rightTitle">דברי סיום</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab3Div">
                <h2 class="tabTitle">מי הולך לדבר ולהרצות?</h2>

                <h3 class="tabSubTitle">דולור סיט אמט, קונסקטורר אדיפיסינג אלית נו</h3>

                <div class="liner"><span></span></div>
                <p class="tabParagraph">
                    לורם איפסום דולור סיט אמט, קונסקטורר אדיפיסינג אלית נולום ארווס סאפיאן - פוסיליס קוויס, אקווזמן קוואזי
                    במר מודוף. אודיפו בלאסטיק
                </p>
            </div>
        </div>
        <div style="margin:0 auto; text-align: center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3417.5700222025303!2d35.04171373561695!3d31.06606747959202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x150248abb3ae07cd%3A0x4ca2283de3753107!2z15DXqdeb15XXnCDXpNeZ16E!5e0!3m2!1sen!2sil!4v1444406267418" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}