<h2>והמנצחים בתחרות יזכו ב...</h2>

<div class="liner"><span></span></div>

<p>{{ prices }}</p>

<img src="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/11222452_459812970872464_460402803622578104_o.jpg"
width="100%">

<h2>קריטריונים לשיפוט</h2>
<ul>
    <ol>
        ייחודי ומעניין - 20%
    </ol>
    <ol>
        יצירתיות אותה הפגינו המפתחים בתהליך מימוש הרעיון - 20%
    </ol>
    <ol>
        האם האם המוצר משפיע ? - 20%
    </ol>
    <ol>
        עבודת צוות והשקעה - האם כולם הצליחו להשתתף, האם ההצגה הייתה מעניינת,האם מה שהוצג נבנה באיכות וכו׳ - 15%
    </ol>
    <ol>
        ממשק משתמש - האם זה אינטואיטיבי ? קל להבנה, קל לשימוש - 15%
    </ol>
    <ol>
        קרוב למוצר ככל האפשר - 10%
    </ol>
</ul>

<h2>חסויות ושותפים</h2>
<div>
    <div class="logos">
        <img src="/static/images/partners/Logos_AppsFlyer.jpg">
        <img src="/static/images/partners/YA_Logo_Red_E_Print.jpg">
        <img src="/static/images/partners/FB_IMG_1445509576756.jpg">
        <img src="/static/images/partners/Logos-37.jpg">

        <img src="/static/images/partners/Logos_המשרד%20לפיתוח%20הנגב%20והגליל.jpg">
        <img src="/static/images/partners/Logos_יוניבריסטי.jpg">
        <img src="/static/images/partners/Logos_כיל.jpg">
        <img src="/static/images/partners/Logos_מילן.jpg">
        <img src="/static/images/partners/Logos_קדימה%20מדע.jpg">

        <img src="/static/images/partners/1512293_697322906987072_642194949_n.jpg">
        <img src="/static/images/partners/1170675_458596834253874_266267479_n.jpg">
        <img src="/static/images/partners/11796208_519993151488157_2662965858811294529_n.jpg">
        <img src="/static/images/partners/10497998_671901826228207_7465383738302014734_o.jpg">
        <img src="/static/images/partners/Logos_הרשות%20לפיתוח%20הנגב.jpg">
        <img src="/static/images/partners/צעירי%20דימונה.png">
        <img src="/static/images/partners/Logos_עמל.jpg">
        <img src="/static/images/partners/Logos_זינמן.jpg">
        <img src="/static/images/partners/Logos_רובואקטיב.jpg">
        <img src="/static/images/partners/Logo%20persona.png">
        <img src="/static/images/partners/Logos_EO.jpg">
        <img src="/static/images/partners/Logos-39.jpg">
        <img src="/static/images/partners/Logos_spacecialist.jpg">
        <img src="/static/images/partners/Logos_הסדנה%20לידע%20ציבורי.jpg">
        <img src="/static/images/partners/Logos_אגף%20תקשוב.jpg">
        <img src="/static/images/partners/Logos_מפה.jpg">
        <img src="/static/images/partners/Logos_קיפוד.jpg">
    </div>
</div>
{{ sponsers }}