{% macro left(title, time, end=False) -%}
    <div class="timeDiv">
        <div class="leftTimelineDiv">
            <h3 class="timeDetailsTitle leftTitle">{{ title }}</h3>
            <span class="byLabel leftTime">{{ time }}</span>
        </div>
        <div class="timeLineDiv">
            <div class="circleTimeLineDiv"></div>
            {% if not end %}
                <div class="lineTimeLine"></div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro right(title, time, end=False) -%}
    <div class="timeDiv">
        <div class="leftTimelineDiv">
            <span class="timeSpan leftTime"></span>
        </div>
        <div class="timeLineDiv">
            <div class="circleTimeLineDiv"></div>
            {% if not end %}
                <div class="lineTimeLine"></div>
            {% endif %}
        </div>
        <div class="rightTimeLineDiv">
            <h3 class="timeDetailsTitle rightTitle">{{ title }}</h3>
            <span class="byLabel rightTime">{{ time }}</span>
        </div>
    </div>
{%- endmacro %}

<h2>מתי קורה מה?</h2>

<h3>מתי האירוע, ארוחות, הרצאות והפתעות נוספות?</h3>

<div class="liner"><span></span></div>
<p>
    לוח הזמנים שלנו דינמי וגמיש, אבל אלו העקרונות - מינימום הפרעות, מקסימום אפשרות לעבוד והזדמנויות להכיר אנשים ורעיונות ולעשות נטוורקינג מעניינים.
    <br/>
    מוזמנים להכנס ללו"ז שוב לקראת האירוע, אולי תגלו הפתעות חדשות.
</p>
<div class="schedule1Div">
    <h2 class="scheduleTitle">לוח זמנים - 12-13.11.2015<Br><span class="lineTitleSpan"></span></h2>

    {{ right("התכנסות", "09:00") }}
    {{ left("ברוכים הבאים ומידע על היום","09:45 - 10:15") }}
    {{ right("ההאקתון מתחיל","10:15-13:30") }}
    {{ left("ארוחת צהריים","13:30-14:30") }}
    {{ right("מיני הרצאה","14:30-15:15") }}
    {{ left("ההאקתון ממשיך","15:15-18:30") }}
    {{ right("ארוחה ומשקאות","18:30-19:15") }}
    {{ left("ממשיכים לעבוד","19:45-21:00") }}
    {{ right("ארוחת לילה","22:30-23:15") }}
    {{ left("הפתעה מגניבה","23:30") }}
    {{ right("עובדים/מתעפצים","23:15-09:45") }}
    {{ left("ארוחת בוקר","09:00-09:45") }}
    {{ right("הצגת מיזמים*","10:00-13:00") }}
    {{ left("החלטת שופטים","13:00-13:30") }}
    {{ right("הענקת פרסים","13:30-14:00", True) }}
</div>
<p>* קבוצות שנוסעות לצפון יודיעו מראש.</p>
