{% extends "_layout.html" %}
{% block title %}דף הבית{% endblock %}
{% block head %}
    {{ super() }}
    <style>
        body {
            background: #f9f9f9 !important;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="centerLogo" style="font-size: 2.5em;">
        <p>
            <a href="https://docs.google.com/forms/d/1JLqciq-z8vCGq2NJukTcsLVDe3sX1LICoCkOkA2JDw4/viewform" target="_blank">
                הרשמה להאקתון הראשון בדימונה 12-13/11
            </a>
        </p>
        <hr/>
        <p>
            <a href="https://docs.google.com/forms/d/1_6MdJG4Z0pR26fxKnrHVbFYs9Ere8OMdu9k7FvYI1bY/viewform" target="_blank">
                הרשמה לתפקיד מנטור/שופט בהאקתון הראשון בדימונה
            </a>
        </p>

    </div>
{% endblock %}